.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ------------------------------*/
/* Style for the overlay */
/* Overlay Styles */
.task-assign-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black for a subtle effect */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Container Styles */
.task-assign-modal {
  background-color: #ffdd59;
  /* Bright yellow */
  padding: 30px;
  margin: 20px;
  /* Space between modal and overlay edges */
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  /* Soft shadow */
  text-align: center;
  /* Optionally center content within the modal */
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 0.5s ease-in;
}

/* Inside your CSS */
.task-assign-modal button {
  background-color: #ffffff;
  /* White background */
  color: #333333;
  /* Dark text color */
  border: 2px solid #ffdd59;
  /* Yellow border */
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  /* Indicate that it's clickable */
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.task-assign-modal button:hover {
  background-color: #e0c545;
  /* Slightly darker yellow on hover */
}
